[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-authtools = "*"
mysqlclient = "*"
django-crispy-forms = "*"
crispy-bootstrap4 = "*"
django-test-without-migrations = "*"
django-nose = "*"
black = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.11"
